{{#if login_name}}
  <form action="/signout" method="POST">
    <div>
      Hi {{login_name}}!
      <button type="submit" value="submit">Sign out</button>
    </div>
  </form>
{{/if}}
<form action="/restaurant/submit_new" method="POST">
  <b>Name of restaurant:</b>
  <br>
  <input type="text" name="restaurant_name" placeholder="Restaurant name"><br><br>
  <b>Address:</b>
  <br>
  <input type="text" name="restaurant_addr" placeholder="Restaurant address"><br><br>
  <b>Category:</b>
  <br>
  <input type="text" name="restaurant_cat" placeholder="Category"><br><br>
  <button type="submit">Submit</button>
</form>
