<form action="/restaurant/submit_new" method="POST">
  {{#if login_name}}
    <div>Hi {{login_name}}!</div>
  {{/if}}
  <b>Name of restaurant:</b>
  <br>
  <input type="text" name="restaurant_name" placeholder="Restaurant name"><br><br>
  <b>Address:</b>
  <br>
  <input type="text" name="restaurant_addr" placeholder="Restaurant address"><br><br>
  <b>Category:</b>
  <br>
  <input type="text" name="restaurant_cat" placeholder="Category"><br><br>
  <button type="submit">Submit</button>
</form>
