
{{#if login_name}}
  <form action="/signout" method="POST">
    <div>
      Hi {{login_name}}!
      <button type="submit" value="submit">Sign out</button>
    </div>
  </form>
{{/if}}
<form action="/search" method="GET">
  <b>Search for a restaurant:</b>
  <br><br>
  <input type="text" name="searchcriteria" placeholder="Enter search criteria"><br>
  <br>
  <button type="submit" value="submit">Search</button>
</form>
