<form action="/search" method="GET">
  {{#if login_name}}
    <div>Hi {{login_name}}!</div>
  {{/if}}
  <b>Search for a restaurant:</b>
  <br><br>
  <input type="text" name="searchcriteria" placeholder="Enter search criteria"><br>
  <br>
  <button type="submit">Submit</button>
</form>
