<b>Hi {{login_name}}!</b>
<br><br>
<h2>Here are the restaurant's that match your search criteria:</h2>
<br>
<ul>
  {{#each result}}
      <li><a href="/restaurant/{{id}}">{{name}}</a></li>
  {{/each}}
</ul>
